html,
body {
	
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
	text-align: center;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	padding-top:15px;
	
}

.hidden {
	
	display:none;
}

.form-field {
	
	display:list-item;
	list-style:none;
	padding-bottom:30px;
}

#calculate {
	
	background-color:#f35365;
	padding:10px 20px 10px 20px;
	width:30%;
	margin-top:30px;
	margin-bottom:30px;
	color:white;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

label {
	
	margin-bottom:-10px;
	display:block;
}

footer {
	
	height:70px;
	background-color: #565656;
	color:white;
	padding-top:50px;
}


footer a {
	
	color:white;
}

.icon-diamond {
	
	
	display:block;
	height:100px;
	width:100px;
	margin:0 auto;
	text-align: center;
	
}

@media only screen and (min-width: 320px) {
	
	#content-container {
		
		width:90%;
		margin:0 auto;
		text-align: center;
	}
	
	h1 {
		
		font-size:1.5em;
	}
	
	input[type='text'],
	input[type='number'] {
		
		width:50px;
		font-size: 16px;
	}
}